<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Simple Multiverse</title> 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="titleDiv">
  <h1 id="title"> SOCCER MULTIVERSE</h1>
</div>

<!-- <div id="actionDiv2">
	<h4 class="action2">Select Your Team</h4>
</div>
 -->
<!-- <div id="container"> -->
  <div id="playerNameDiv">
  <input id="playerNameInput" type="text" name="" placeHolder="Enter Your Name" autofocus="autofocus">
  </div>
  <div id="buttonDiv">
    <button id="startGame">GO</button>
  </div>
  
  <div id="executeSpace">
  </div>


<!-- </div> -->


<!-- <div id="actionDiv">
  <h4 class="action" id="selectTeam">Select Your Team</h4>
  <h4 class="action" id="selectFormation">Select Formation</h4>
  <h4 class="action" id="learnCommands">Learn Commands</h4>
</div> -->

<!-- <div id="activityAreaDiv">
</div> -->







   


 <!--  <p><button id="start-button"><a href="game">START</a></button></p> -->

 <script src="https://code.jquery.com/jquery-2.1.4.js" type="text/javascript"></script>
 <!-- <script type="text/javascript" src="js/main.js"></script> -->
 <script src="libraries/annyang.min.js" type="text/javascript"></script>
 <script src="libraries/p5.js" type="text/javascript"></script>
 <script src="libraries/p5.speech.js" type="text/javascript"></script>
 <script src="libraries/p5.dom.js" type="text/javascript"></script>
 <script src="libraries/p5.sound.js" type="text/javascript"></script>
 <!-- <script src="js/gameClasses/Game.js" type="text/javascript"></script> -->
 <!-- <script src="js/gameClasses/Field.js" type="text/javascript"></script> -->
 <script src="js/gameClasses/Boundary.js" type="text/javascript"></script>
 <!-- <script src="js/gameClasses/FieldRegion.js" type="text/javascript"></script>
 // <script src="js/gameClasses/Formation.js" type="text/javascript"></script> -->
 <!-- <script src="js/gameClasses/Team.js" type="text/javascript"></script> -->
 <script src="js/gameClasses/Moveable.js" type="text/javascript"></script>
  <!-- <script src="js/gameClasses/Player.js" type="text/javascript"></script> -->
<!--  // <script src="js/gameClasses/Ball.js" type="text/javascript"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="js/script.js" type="text/javascript"></script>

</body>
</html>
