
#playerNameDiv{
	/*z-index: 10;*/
	width: 100%;
	background: white;
	/*padding: 5%;*/
	margin: 0 auto;
	/*margin-left: -5%;*/
	display: block;
	/*float: right;*/
}

#controls{
 display: block;
 width: 100%;
 

}

#controls h3{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	/*color: #29B6F6;*/
	color: #F44336;
}

button{
    margin: 0 auto;
    width: 20%;
    padding: 1%;
    display: block;
}

#buttonDiv{
	display: block;
	margin-top: 2%;
	width: 80%;
	margin: 0 auto;
}

#playerNameInput{
	margin: 0 auto;
	display: block;	
	width: 20%;
    background-color: white;
    padding: 2%;
    color: #29B6F6; 
    font-size: 20px;
    text-align: center;   
}

#Enter{
	margin: 0 auto;
	margin-top: 2%;
	width: 10%;
	/*color: #29B6F6;*/
	color: #F44336;
	padding: 1%;
	font-size: 15px;
	background: #FFFFFF;
	/*border: 3px solid #29B6F6;*/
	border: 3px solid #F44336;
	text-align: center;
	cursor: pointer;
}

#menu{
	display: block;
	color: white;
	margin: 0 auto;
	/*background: #29B6F6;*/
	background: #F44336;
	padding: 1%;
}

#bottom{
	display: block;
	color: white;
	/*background: #29B6F6;*/
	background: #F44336;
	margin-top: 5%;
	padding: 3%;
	text-align: center;
}

.menu-item{
	color: white;
	margin: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 10%;
	display: inline-block;
	font-size: 15px;
	padding: 1%;
	border: 3px solid #FFFFFF;
	text-align: center;
	cursor: pointer;

}


#titleDiv{
	display: block;
	color: #000;
	/*background: #29B6F6;*/
	background: #F44336;
	padding: 1%;

	/*width: 100%;*/
	/*background: #F44336;*/

	}

#title{
	width: 50%;
	margin: 0 auto;
	display: block;
	font-size: 40px;
	color: white;
	display: block;
	text-align: center;
	cursor: pointer;


}

#p5Space{
	width: 100%;
	display: block;
	/*float: left;*/
}



body{
	font-family: 'Open Sans', serif;
	color: black;
	padding: 0; margin: 0;

	/*background: #F44336;*/
	

}


#bottomButtonDiv{
	display: block;
	margin-top: 2%;

}

.bottomButtons{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #F44336;
    margin-left: 30%;
    width: 20%;
    padding: 1%;
    font-size: 30px;
	
}

#back{
	margin-left: 15%;
	background: #29B6F6;
}




















/*#title{
	display: block;
	color: #000;
	width: 50%;
	margin-left: 5% auto;
	border: 3px solid #FFFFFF;

	
	}

.title{
	display: block;
	width: 100%;
	background: #F44336;

}

.callToAction{
	background: #FFEB3B;
	color: white;
	width: 40%;
	font-size: 20px;
	padding:5%;
	float: right;


}
#callToAction{
	width: 80%;
	margin: 10% auto;
	border: 3px solid #FFFFFF;
	padding: 5%;

}

.selectTeam{
	display: block;
	background: #4CAF50;
	color: white;
	width: 40%;
	font-size: 20px;
	padding:5%;
	float: left;

}
#selectTeam{
	width: 80%;
	margin: 10% auto;
	border: 3px solid #FFFFFF;
	padding: 5%;

}

.selectFormation{
	display: block;
	background: #F44336;
	color: white;
	width: 40%;
	font-size: 20px;
	padding:5%;
	float: left;

}
#selectFormation{
	width: 80%;
	margin: 10% auto;
	border: 3px solid #FFFFFF;
	padding: 5%;


}

.learnCommands{
	display: block;
	background: #29B6F6;
	color: white;
	width: 40%;
	font-size: 20px;
	padding:5%;
	float: left;

}
#learnCommands{
	width: 80%;
	margin: 10% auto;
	border: 3px solid #FFFFFF;
	padding: 5%;


}









a{
	text-decoration: none;
}


#start-button{
	display: block;
	width: 100%
	margin: 50px auto;

}
*/